entrypoint = "app.py"
modules = ["python-3.10"]

[nix]
channel = "stable-23_05"

[dependencies]
packages = ["chainlit"]

[run]
command = "chainlit run app.py"

[deployment]
run = "chainlit run app.py"
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
exposeLocalhost = true

[auth]
pageEnabled = false
buttonEnabled = false

[objectStorage]
defaultBucketID = "replit-objstore-77596402-e198-41da-a0fd-681f5c96073d"
